### Задача:
Обучить берт для задачи классификации.

Взять любой набор данных (например idmb)

Важно рассписать что именно вы делаете.

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Прочитаем файл данных 
df = pd.read_csv("./IMDB Dataset.csv")
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [3]:
#Поисх дубликатов
num_duplicates = df.duplicated().sum() 
print('There are {} duplicate reviews present in the dataset'.format(num_duplicates))

There are 418 duplicate reviews present in the dataset

In [4]:
#Выведем дубликаты
review = df['review']
duplicated_review = df[review.isin(review[review.duplicated()])].sort_values("review")
duplicated_review.head()

                                                  review sentiment
34058  "Go Fish" garnered Rose Troche rightly or wron...  negative
47467  "Go Fish" garnered Rose Troche rightly or wron...  negative
29956  "Three" is a seriously dumb shipwreck movie. M...  negative
31488  "Three" is a seriously dumb shipwreck movie. M...  negative
47527  "Witchery" might just be the most incoherent a...  negative

In [5]:
#Удаление дубликатов
df.drop_duplicates(inplace = True)
df.shape

(49582, 2)

In [6]:
# Перемешаем данные
from sklearn.utils import shuffle
df = shuffle(df)
df

                                                  review sentiment
16588  One must admit, that Dev has an eye for beauty...  positive
25578  WOW, a masterpiece of a movie not to be missed...  positive
32496  You can take the crook out of the joint, but i...  positive
49064  Ben & Arthur COULD have been a 10. Sam Mraovic...  negative
26909  Having loved 'Paris, Je T'aime', I highly anti...  negative
...                                                  ...       ...
21387  This film says everything there is to say abou...  positive
1127   Let's start from this point: This is not a mov...  positive
5355   It kept my attention to the end, however, with...  negative
24041  Zeoy101?? Really, this has to be one of the mo...  negative
47404  Beast Wars is a show that is over-hyped, overp...  negative

[49582 rows x 2 columns]

In [7]:
# Разделение на признаки и целевую переменную
X = df.drop('sentiment', axis=1)
y = df['sentiment']

In [8]:
# Разделение данных на обучающую, тестовую и валидационную выборки
from sklearn.model_selection import train_test_split
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.2, random_state=42)
(X_train.shape, X_test.shape, X_valid.shape, )

((35698, 1), (4959, 1), (8925, 1))

In [9]:
import transformers
import tokenizers
#Perform tokenization
# automatically download the vocab used during pretraining or fine-tuning a given model,use from_pretrained() method
tokenizer = transformers.AutoTokenizer.from_pretrained('distilbert-base-uncased')

c:\Users\piuta_en\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\piuta_en\AppData\Local\Programs\Python\Python312\Lib\site-packages\huggingface_hub\file_download.py:144: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\piuta_en\.cache\huggingface\hub\models--distilbert-base-uncased. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)