# Homework 04
<hr>

## Задание
Имеется файл `*.csv` со следующими полями: `UserId`, `movieId`, `rating`, `timestamp`.
Необходимо найти:
1. Общее число оценок в файле
2. Общее количество пользователей, поставивших оценки
3. Общее количество оцененных фильмов
4. ID самого активного пользователя
5. Фильм, собравший наибольшее количество оценок
<hr>

### Выполнение программы
1. В качестве инструмента для анализа и обработки табличных данных (в данном случае содержимое `.csv` файла) 
предлагается использовать библиотеку `Pandas`. Данная библиотека предоставляет готовый набор инструментов, 
позволяющий быстро и удобно осуществлять обработку табличных данных. Импортируем библиотеку `Pandas`:

In [55]:
import os
import pandas as pd

2. Данные в `Pandas` хранятся в виде следующих структур: 
  - `Series` - одномерный массив;
  - `DataFrame` - двумерная таблица (массив).
* В нашем случае для последующей обработки данных удобно использовать формат `DataFrame`.

**ПРИМЕЧАНИЕ**. Так как в файле `.gitignore` репозитория `ML01_P_Online` прописана строка, 
которая исключает `.csv` файлы из области видимости `git`, то исходные данные продублированы в `.txt` файл. 
Программный код по умолчанию загружает данные из `.csv` файла.
Если он отсутствует - данные берутся с `.txt` файла.

In [56]:
file_path = "../data/ratings_small.csv"
file_path = file_path if os.path.isfile(file_path) else "../data/ratings_small.txt"

3. Для чтения `.csv` файлов используем метод `pd.read_csv('file.csv')`. Данные сохраняем в `DataFrame` `df`.

In [57]:
df = pd.read_csv(file_path)
print(f"Файл '{file_path}' успешно импортирован.\n")
print(df)

Файл '../data/ratings_small.csv' успешно импортирован.

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

4. Для удаления строк с пустыми значениями используем метод `df.dropna()`:

In [58]:
df.dropna()

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

5. Для определения общего количества числа оценок в файле необходимо вычислить длину столбца `rating`.
При этом нулевые значения будем отбрасывать (не учитывать).
Для фильтрации данных используем конструкцию `df[df['rating'] > 0]`, после чего найдем длину `len` полученного `df`:

In [59]:
print(f"Общее число оценок в файле: {len(df[df['rating'] > 0])}")

Общее число оценок в файле: 100004

6. Для подсчета общего количества пользователей, поставивших оценки, необходимо вычислить количество уникальных значений в столбце `UserId`.
Для этого используем метод `df['userId'].value_counts()` и найдем длину `len` полученного `df`:

In [60]:
print(f"Общее число пользователей, поставивших оценки: {len(df['userId'].value_counts())}")

Общее число пользователей, поставивших оценки: 671

7. Для подсчета общего количества оцененных фильмов необходимо вычислить количество уникальных значений в столбце `movieId`.
Для этого используем метод `df['movieId'].value_counts()` и найдем длину `len` полученного `df`:

In [61]:
print(f"Общее количество оцененных фильмов: {len(df['movieId'].value_counts())}")

Общее количество оцененных фильмов: 9066

8. Для определения `ID` самого активного пользователя необходимо подсчитать число появлений каждого `UserID` в столбце и выбрать `UserID` с максимальным числом появлений. Для этого используем метод `df['UserID'].value_counts().idxmax()`.
Чтобы определить, сколько оценок оставил самый активный пользователь, используем метод `df['UserID'].value_counts().max()`:

In [62]:
print(f"ID самого активного пользователя: UserId={df['userId'].value_counts().idxmax()} ({df['userId'].value_counts().max()} оценка/и/ок).")

ID самого активного пользователя: UserId=547 (2391 оценка/и/ок).

9. Для определения `movieId`, собравшего наибольшее количество оценок, необходимо подсчитать число появлений каждого `movieId` в столбце и выбрать `movieId` с максимальным числом появлений. 
Для этого используем метод `df['movieId'].value_counts().idxmax()`.
Чтобы определить, сколько оценок получил самый популярный фильм, используем метод `df['movieId'].value_counts().max()`:

In [63]:
print(f"Фильм, собравший наибольшее количество оценок: movieId={df['movieId'].value_counts().idxmax()} ({df['movieId'].value_counts().max()} оценка/и/ок)).")

Фильм, собравший наибольшее количество оценок: movieId=356 (341 оценка/и/ок)).