# Задачи:
1.	Общее число оценок в файле
2.	Общее количество пользователей, поставивших оценки
3.	Общее количество оцененных фильмов
4.	ID самого активного пользователя
5.	Фильм, собравший наибольшее количество оценок

In [8]:
# импортируем библиотеки numpy и pandas
import numpy as np
import pandas as pd

# Задаем некоторые опции библиотеки pandas, которые 
# настраивают вывод
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

In [9]:
# считываем содержимое файла в объект DataFrame
df = pd.read_csv('ratings_small.csv')
df

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [38]:
#Общее число оценок в файле
print(f"Общее число оценок в файле: {len(df.rating)}")

Общее число оценок в файле: 100004

In [36]:
#Общее количество пользователей, поставивших оценки
print(f"Общее количество пользователей: {len(df['userId'].unique())}")

Общее количество пользователей 671

In [37]:
#Общее количество оцененных фильмов
print(f"Общее количество оцененных фильмов: {len(df['movieId'].unique())}")

Общее количество оцененных фильмов: 9066

In [26]:
#Найдем ID самого активного пользователя
#Группируем по userId
grouphy = df.groupby("userId").count()
grouphy

        movieId  rating  timestamp
userId
1            20      20         20
2            76      76         76
3            51      51         51
4           204     204        204
5           100     100        100
...         ...     ...        ...
667          68      68         68
668          20      20         20
669          37      37         37
670          31      31         31
671         115     115        115

[671 rows x 3 columns]

In [27]:
#Отсоритируем по movieId и найдем первого пользователя(самый активный)
sort = grouphy.sort_values("movieId", ascending=False)
sort

        movieId  rating  timestamp
userId
547        2391    2391       2391
564        1868    1868       1868
624        1735    1735       1735
15         1700    1700       1700
73         1610    1610       1610
...         ...     ...        ...
296          20      20         20
289          20      20         20
249          20      20         20
221          20      20         20
1            20      20         20

[671 rows x 3 columns]

In [35]:
print(f"Самый активный пользователь:\n"
      f"{sort.head(1)}")

Самый активный пользователь:
        movieId  rating  timestamp
userId
547        2391    2391       2391

In [39]:
#Найдем фильм, собравший наибольшее количество оценок
#Группируем по movieId
grouphy_movieId = df.groupby("movieId").count()
grouphy_movieId

         userId  rating  timestamp
movieId
1           247     247        247
2           107     107        107
3            59      59         59
4            13      13         13
5            56      56         56
...         ...     ...        ...
161944        1       1          1
162376        1       1          1
162542        1       1          1
162672        1       1          1
163949        1       1          1

[9066 rows x 3 columns]

In [40]:
#Отсоритируем по userId
sort_movieId = grouphy_movieId.sort_values("userId", ascending=False)
sort_movieId

         userId  rating  timestamp
movieId
356         341     341        341
296         324     324        324
318         311     311        311
593         304     304        304
260         291     291        291
...         ...     ...        ...
31956         1       1          1
31963         1       1          1
31973         1       1          1
32022         1       1          1
163949        1       1          1

[9066 rows x 3 columns]

In [41]:
print(f"Фильм, собравший наибольшее количество оценок:\n"
      f"{sort_movieId.head(1)}")

Фильм, собравший наибольшее количество оценок:
         userId  rating  timestamp
movieId
356         341     341        341

#Выводы:
1. С помощью pandas и ее методов можно легко группировать и сортировать датафреймы, находя в дальнейшем в них необходимые значения.
2. Мы решили все поставленные задачи не использую такие длительные методы решения, как цикл и др.