#Задача:
Подготовить данные для модели:
    
   Анализ данных, необходимые корректировки. 
1. Обработать пропуски. 
2. Оценить выбросы. 
3. Корреляция. 
4. Тест на нормальность распределения.
5. Масштабировать данные.

In [42]:
import pandas as pd
import numpy as np
on_bad_lines='skip'

In [43]:
df = pd.read_csv("./credit_train.csv",on_bad_lines = 'skip', encoding_errors = 'ignore')
df

                                        client_id;gender;age;marital_status;job_position;credit_sum;credit_month;tariff_id;score_shk;education;living_region;monthly_income;credit_count;overdue_credit_count;open_account_flg
1;M;;;UMN;59998                                               00;10;1.6;;GRD; ;30000;1;1;0
2;F;;MAR;UMN;10889                                                      00;6;1.1;;;;;2;0;0
3;M;32;MAR;SPC;10728                                                  00;12;1.1;;; ;;5;0;0
4;F;27;;SPC;12009                                                     09;12;1.1;;; ;;2;0;0
5;M;45;;SPC;;10;1.1;0                                                  421385;SCH; ;;1;0;0
6;F;;MAR;SPC;;10;1.1;;SCH; ;30000;0;0;0                                                NaN
7;M;34;MAR;SPC;10317                                           00;6;1.5;;SCH; ;28000;3;0;0
9;M;23;UNM;SPC;37577                                     16;12;1.6;;SCH;-   - ;50000;3;0;0