# Домашнее задание №4
<hr>

#### Текст домашнего задания

Подсчитать в файле `ratings_small.csv`:
1. Общее число оценок в файле
2. Общее количество пользователей, поставивших оценки
3. Общее количество оцененных фильмов
4. ID самого активного пользователя
5. Фильм, собравший наибольшее количество оценок

#### Цель задания

Изучить инструменты обработки табличных данных (в данном случае содержимое `ratings_small.csv` файла), а именно библиотеку `Pandas`.

#### Анализ задания

Основные этапы выполнения:
1. Установка модуля `Pandas`
2. Знакомство с документацией к модулю
3. Использование методов и функций необходимых для анализа `csv` файла

#### Решение домашнего задания

`Pandas` — подходящий инструмент для работы с табличными данными, такими как данные в электронных таблицах или базах данных. Помогает исследовать, очищать и обрабатывать данные.

#### 1. Импорт необходимых для работы модулей

In [93]:
import pandas as pd

#### 2. Загрузка данных из файла.

In [94]:
ratings_small = pd.read_csv('data/ratings_small.csv') # Pandas предоставляет функцию read_csv() для чтения данных, хранящихся в виде CSV-файла.

#### Проверяем данные после их чтения

In [95]:
print(f"Файл '{'data/ratings_small.csv'}' успешно импортирован.\n")
ratings_small # по умолчанию выводит первые и последние 5 строк

Файл 'data/ratings_small.csv' успешно импортирован.

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

#### 3. Удаление пустых или неполных данных.

In [96]:
ratings_small.dropna() # метод dropna удаляет не заполненные поля

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

#### 4. Вывод общего числа оценок в файле.

In [97]:
count_rating = len(ratings_small['rating']) # длина столбца 'rating'
print(f'Всего в файле {count_rating} оценки.')

Всего в файле 100004 оценки.

#### 5. Подсчёт общего количества пользователей оставивших оценки.

In [98]:
print(f'Общее количество пользователей оставивших оценки: {ratings_small['userId'].nunique()}') 
# nunique выводит количествао уникальных значений в стлбце 'userId'

Общее количество пользователей оставивших оценки: 671

#### 6. Подсчёт общего количества оценённых фильмов.

In [99]:
print(f'Общее количество оценённых фильмов: {ratings_small['movieId'].nunique()}') 
# nunique выводит количествао уникальных значений в стлбце 'movieId'
print(f'названия оценённых фильмов:\n {ratings_small['movieId'].unique()}')
# nunique выводит список уникальных значений в стлбце 'movieId'

Общее количество оценённых фильмов: 9066
названия оценённых фильмов:
 [  31 1029 1061 ...  129 4736 6425]

#### 7. Поиск ID самого активного пользователя.

In [100]:
most_active_user = ratings_small['userId'].mode() # метод mode() ищет наиболее часто встречающееся значение в заданном столбце
print(f'ID наиболее активного пользователя: {most_active_user[0]}')

ID наиболее активного пользователя: 547

#### 8. Определение фильма, собравшего наибольшее количество оценок.

In [101]:
most_popular_movie = ratings_small['movieId'].mode() # метод mode() ищет наиболее часто встречающееся значение в заданном столбце
print(f'Название фильма, собравшего наибольшее количество оценок: {most_popular_movie[0]}')

Название фильма, собравшего наибольшее количество оценок: 356